
#eng_input, #add_input{
	float: left;
	padding-right: 3px;
}

#eng_input{
	max-width: 250px;
}

#add_input{
	max-width: 350px;
}

#add_word{
	width: 50px;
}

#alert_add_word{
	max-width: 700px;
}

#save_button{
	width: 100%;
	height: 100%
}

#last_header{
	display: table-cell;
    	vertical-align: middle;
}

#word_list{
	font-size: large;
	height: 44px;
}

#word_list p{
	margin: 0px;
}

#right_arrow, #left_arrow{
	font-size: large;
}

#right_arrow{
	float: right;

}

#table_hug{
	max-width: 1000px;
	/*height defined in js according to the WORDS_PER_PAGE*/
}

table{
	padding: 0px;
}

.tall{
	height: 100%;
}

.trash_deactivated{
	opacity: 0.1;
}

.trash_activated{
	opacity: 1;
}

.trash_label{
	position: relative;
	right: 40px;
	float: left;
}

.trash_label:hover{
	opacity: 0.9;
}

.table_head{
	height: 50px;
	vertical-align: center;
	text-align: center;
	font-size: large;
}

.table_row{
	padding: 0px 5px 0px 5px;
}

.table_input{
	border: 0px;
	font-size: inherit;
	height: 100%;
}